.info-container {
  background-color: #F77300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center; /* Centrar texto */
}

.page-title {
  font-size: 2rem; /* Tamaño del título */
  margin-bottom: 20px; /* Espacio inferior del título */
}

.fotito-image {
  max-width: 200px; /* Ajustamos el tamaño de la foto */
  margin-bottom: 20px; /* Agregamos espacio inferior */
}

.back-button {
  padding: 10px 20px;
  background-color: #990800; /* Rosa */
  color: #FFFFFF; /* Blanco */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 20px; /* Agregamos espacio inferior */
  text-decoration: none; /* Agregamos para quitar la subraya */
  display: inline-block; /* Para que funcione el margin-bottom */
}

.back-button:hover {
  background-color: #2312E6; /* Marrón */
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar elementos horizontalmente */
  margin-bottom: 20px; /* Agregamos espacio inferior */
}

.page-description, .personal-story {
  color: #000000; /* Color de texto negro */
  max-width: 600px; /* Ancho máximo del texto */
  text-align: center; /* Asegurar que el texto esté centrado */
}

.toggle-button {
  padding: 10px 20px;
  background-color: #990800; /* Rosa */
  color: #FFFFFF; /* Blanco */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 20px; /* Espacio superior del botón */
}

.toggle-button:hover {
  background-color: #2312E6; /* Marrón */
}