.searchbar-container {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.search-input {
  width: 70%;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.filter-button {
  background-color: #990800;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-button:hover {
  background-color: #2312E6;
  color: #FFFFFF;
}