.card {
  width: 300px;
  height: 280px; 
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 40%; 
  object-fit: cover;
}

.card-content {
  height: 60%; 
  padding: 20px;
}

.card-name {
  margin: 0;
  font-size: 20px;
  color: #000000;
}

.card-teams {
  margin: 10px 0;
  font-size: 16px;
  color: #808080;
}

.enter-button {
  padding: 15px 30px;
  background-color: #990800;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; 
  text-decoration: none;
  display: inline-block; 
  margin-top: 10px; 
}

.enter-button:hover {
  background-color: #2312E6; 
  color: #FFFFFF; 
}