.formpage-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  padding: 20px;
  background-color: #f77300;
  min-height: 100vh;
  overflow-y: auto; 
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.max-image {
  max-width: 100%;
  height: auto;
}

.back-button {
  padding: 10px 20px;
  background-color: #990800;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
}

.back-button:hover {
  background-color: #2312E6;
}

.right-content {
  flex: 1;
  padding-left: 20px;
  color: #000000;
}

.form-title {
  font-size: 24px;
  color: #000000;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  color: #000000;
}

.form-text {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  color: #000000;
}

.create-button {
  padding: 10px 20px;
  background-color: #990800;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
}

.create-button:hover {
  background-color: #2312E6;
}

.create-button.disabled {
  background-color: #808080;
  cursor: not-allowed;
}
